/*Coloca decoracion personal al pasar el raton por los links de la navegacion*/
a:nth-child(1) > span:hover{
   color:blue;
}


.border-blanco{
   border-right: solid white 5px;
}

.altura-carta{
   height: 70px;
}

