<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap" rel="stylesheet">
    <title>Akem WEB</title>

    <!--Vincular el icono de la pagina-->
    <link rel="stylesheet" href="img/logo_akemi.png">
    <!--Vinculate css-->
    <link rel="stylesheet" href="scss/custom.css">
    <link rel="stylesheet" href="css/mycss.css">
    <!--Vincular iconos de bootstrap-->
    <!--Impoertar cdn de view-->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <script type="text/javascript" src="scripts/products.json"></script>

    <style>
        body {
            background-image: url(img/bg.png);
            font-family: 'Source Code Pro', monospace;
            /*Source code pro linked google fonts*/
            font-size: 12px;
        }
    </style>
</head>

<body>

    <div id="app" class="container">

        <!--Header(Logo\NAVBAR)-->
        <!--NAVBAR-->
        <header class="container bg-white">
            <nav class="navbar navbar-expand-md navbar-white bg-white col-12">
                <div class="container px-0">
                    <!--Icono de menu-->
                    <a class="navbar-brand col-6" href="#">
                        <img src="img/logo_akemi.png" alt="LogoAkemi">
                    </a>
                    <!--En boootstrap 5.0 cambiar data-target por data-bs-target y lo mismo con data-toogle-->
                    <!--Boton para responsive-->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!--Cuerpo de mi menu con los Enlaces-->
                    <div class="collapse navbar-collapse p-0 pb-0 h-100" id="navbarSupportedContent">
                        <ul class="navbar-nav col-12 ms-auto mb-2 mb-lg-0 py-0 my-0 " style="font-size: 14px;">
                            <li class="nav-item col-4 bg-light active  d-inline-block border-blanco"
                                >

                                <div>
                                    <img style="display:inline-block;" src="img/bg_menu_active.png" alt="menu-active"><a
                                        style="display: inline-block;" class="nav-link pb-0 ps-1" href="#">
                                        <span>PRODUCTS</span></a>
                                </div>
                                <div><a class="nav-link py-0" href="#"><span class="navegacion">BRANDS</span></a></div>
                                <div><a class="nav-link pt-0" href="#"><span class="navegacion">AKEMISETS</span></a>
                                </div>
                            </li>
                            <li class="nav-item col-4 bg-light h-auto d-inline-block border-blanco"
                                >
                                <a class="nav-link pb-0" href="#"><span class="navegacion">ABOUT US</span></a>
                                <a class="nav-link py-0" href="#"><span class="navegacion">REGISTER</span></a>
                                <a class="nav-link pt-0 " href="#"><span class="navegacion">LOGIN</span></a>
                            </li>

                            <li id="calcular" class="nav-item col-4 bg-dark h-auto d-inline-block  h-100 border-blanco"
                                >
                                <a class="nav-link text-light pb-0 pe-0" href="#"><span
                                        class="navegacion">CART</span></a>
                                <a class="nav-link text-light py-0 pe-0" href="#"><span
                                        class="navegacion">{{cantidadTotal}}</span> ITEMS</a>
                                <a class="nav-link text-light pt-0 pe-0" href="#"><span
                                        class="navegacion">{{precioTotal}} €</span></a>
                            </li>
                        </ul>

                    </div>

                </div>
        </header>
        <!--CARROUSEL-->
        <!--GigaImagen del centro-->
        <!--P-->
        <main class="container bg-white">
            <div class="container  pb-3 px-0">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active mt-3">
                            <img src="img/banner1.png" class="d-block w-100 img-thumbnail shadow-sm" alt="GigaImagen">
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!--LISTA DE ARTICULOS-->

        <!--Imagen-->
        <div class="container bg-white pb-3 ">
            <div class="row m-0 p-0  ">
                <div class="col-12 p-0">
                    <img src="/img/new_products.png" alt="LogoImagen">
                </div>
            </div>
        </div>

        <!--COMIENZO DE LA LISTA-->
        <!--Nueva fila con la Lista de productos-->
        <!--Dispositivos grandes: 4 columnas
        Dispositivos medianos: 2 columnas
        Dispositivos pequeños: 1 columna-->
        <div class="container mt-0 mb-5">
            <div class="row bg-white">
                <!--For para mostrar todas las cartas-->
                <div v-for="p in productos" :key="p.id" class="col-12 col-sm-6 col-lg-3 mb-3">
                    <!--CADA CARTA-->
                    <div class="card shadow-sm" v-on:click="abrirModal(p.id-1)">
                        <img v-bind:src="p.url" class="card-img-top p-3 p-lg-0 p-md-3 p-sm-3" alt="product1">
                        <div class="card-body altura-carta" >
                            <p class="card-text"><b>{{p.descripcion}}</b></p>
                        </div>
                        <ul class="list-group list-group-flush" style="border: none;">
                            <li class="list-group-item ms-auto pe-0" style="border: none;">
                                <img v-if='(p.oferta === true)' src="img/sign_new_offer.png" />
                                <span v-else class="ms-auto px-2 mb-2"></span>
                            </li>
                        </ul>
                    </div>

                    <!--MOSTRAMOS EL MODAL O NO SI SE CLICA LA CARTA-->
                    <div  id="modale" class="modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header pb-0" style="border:none;">
                                    <button type="button" v-on:click="cerrarModal()" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body pt-2 justify-content-md-center"
                                    style="border:none;text-align:center;">
                                    <img v-bind:src="productos[actualPosition].url" class="col-12 px-7" style="width:400px;height:300px;"                                        >
                                    <h5 class="pt-2">{{ productos[actualPosition].descripcion}}</h5>
                                    <h6>{{productos[actualPosition].precio}}</h6>
                                </div>
                                <div class="modal-footer justify-content-md-center">                                    
                                    <input v-model="cantidadActual" type="number" id="quantity" name="quantity" min="1" />
                                    <button v-on:click="validarCantidad();cerrarModal();setPrecio(productos[actualPosition].precio);setCantidad();"
                                        class="btn btn-primary bg-dark col-6">COMPRAR</button>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
    <!--Vinculacion de JQuery, JS-->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Cargo mi Javascript-->
    <script src="scripts/modal.js" type="module"></script>



</body>

</html>